
</div>
<!-- end container wrap -->
<div class="container">
	<footer>
		<p>
			&copy; Hexagon Systems 2013 
			<a href="index.php?location=siteMap" class='pull-right'>Site map</a>
		</p>
		
	</footer>
</div>
<!-- FROM TASK PACKAGE -->

<!-- JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--[if lte IE 8]>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
  <![endif]-->

<!--[if gt IE 8]><!-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
	window.jQuery
			|| document
					.write('<script src="js/jquery-2.0.0.min.js"><\/script>')
</script>
<!--<![endif]-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script src="//<?php echo SITE_ROOT; ?>Includes/js/bootstrap.min.js"></script>
<script src="//<?php echo SITE_ROOT; ?>Includes/js/offcanvas.js"></script>

<!--
  <script>
  ajaxUrl = "<?php echo SITE_ROOT.Task\Base; ?>/Model/TaskAJAX.php";

  </script>
   -->
<!--<script src="//<?php echo AppBase.Task\Base; ?>/includes/js/TaskLoader.js"></script>-->
<!--<script src="//<?php echo AppBase.Task\Base; ?>/includes/js/TableLoader.js"></script>-->
<!--<script src="//<?php echo AppBase.Task\Base; ?>/includes/js/TaskCommentsLoader.js"></script>-->

</body>
</html>