

<div class="row">
	<div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
		<form class="form-signin" action="#" method="POST">
			<h2 class="form-signin-heading">Sign in</h2>
			<input name="username" type="text" class="form-control" placeholder="username" autofocus="">
			<input name="pass" type="password" class="form-control" placeholder="Password">
			<label class="checkbox">
				<input type="checkbox" value="remember-me"> Remember me
			</label>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div>
	<!--
	<div class="col-sm-3 col-md-3 col-lg-2">
	<h5 class="form-signin-heading">Register New Account</h5>
	<button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
	</form>
	</div>-->
</div><!--/row-->
