    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".topmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo SITE_ROOT; ?>">Hexagon Systems</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse topmenu">
          <ul class="nav navbar-nav">
       <?php foreach ($data['navigation'] as $navItem) : 
                  
                  if($navItem['inMenu'] == 0 && isset($navItem['children'])) :

                    echo '<li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> '.$navItem['name'].' <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="'.SITE_ROOT.$navItem['link'].'">'.$navItem['name'].'</a>';
                    foreach ($navItem['children'] as $subNavItem) : 
                        
                        echo '<li><a href="'.SITE_ROOT.$subNavItem['link'].'">'.$subNavItem['name'].'</a></li>';
                    
                    endforeach;//($navItem['children'] as $subNavItem)
                    
                    echo '</ul></li>';

                  elseif($navItem['inMenu'] == 0) :
                  
                     echo '<li><a href="'.SITE_ROOT.$navItem['link'].'">'.$navItem['name'].'</a></li>';

                  endif;//($navItem['inMenu'] == 0 && isset($navItem['children']))
              
              endforeach;//($data['navigation'] as $navItem) ?>
          </ul>
          <ul class="nav navbar-nav navbar-right">
       <?php foreach ($data['navigation'] as $navItem) : 
                if($navItem['acl'] != 1 || $data['user'] == 'loggedIn') : 

                  if($navItem['inMenu'] == 1 && isset($navItem['children'])) :

                    echo '<li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> '.$navItem['name'].' <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="'.SITE_ROOT.$navItem['link'].'">'.$navItem['name'].'</a>';

                    foreach ($navItem['children'] as $subNavItem) : 
                        
                        echo '<li><a href="'.SITE_ROOT.$subNavItem['link'].'">'.$subNavItem['name'].'</a></li>';
                    
                    endforeach;//($navItem['children'] as $subNavItem)
                    
                    echo '</ul></li>';

                  elseif($navItem['inMenu'] == 1) :
                  
                     echo '<li><a href="'.SITE_ROOT.$navItem['link'].'">'.$navItem['name'].'</a></li>';

                  endif;//($navItem['inMenu'] == 0 && isset($navItem['children']))

                endif;//($navItem['acl'] != 1 || $data['user'] == 'loggedIn')
              
              endforeach;//($data['navigation'] as $navItem) ?>
            </ul>
        </nav><!-- /.navbar-collapse -->
      </div>
    </header>
    <!-- begin container wrap -->
    <div id="content" class="container">