@CHARSET "ISO-8859-1";

#content{
	padding:15px;
}

#content section{
	position:relative;
	display:block;
	width: 55%;
	margin:auto;
	border:1px solid #6699B6;
	border-radius:5px;
	background-color:white;
}

#content header{
	position:absolute;
	width:100%;
	top:0px;
	font-size:2em;
	font-weight:bold;
	color:white;
	clear:both;
	padding:0.25em;
	width:100%;
	background-color: #649EB4;
	box-sizing:border-box;
}

#content ul{
	position:relative;
	top:3em;
	height:auto;
}

#content li{
	display:inline-block;
	font-size:14px;
}

#content li:first-child{
	position:absolute;
	left:5px;
}

#content li:last-child{
	position:absolute;
	right:5px;
}

#content article{
	text-align:left;
	width:90%;
	overflow:hidden;
	padding:15px;
	margin-top: 5em;
}