/*
 * Bootstrap Hexagon System
 * Special styles for presenting Hexagon Systems Bootstrap.
 * Based off the Bootstrap's documentation and code examples with a lot of rework
 * and sliming.
 *
 * Table of contents:
 *
 * Scaffolding
 * Page headers
 * Side navigation
 * Panels
 */

/*
 * Scaffolding
 *
 * Update the basics of our documents to prep for docs content.
 */
body {
	position: relative; /* For scrollyspy */
	padding-top: 50px; /* Account for fixed navbar */
}

/* Outline button for use within the docs */
.btn-outline {
	color: #563d7c;
	background-color: #fff;
	border-color: #e5e5e5;
}

.btn-outline:hover,.btn-outline:focus,.btn-outline:active {
	color: #fff;
	background-color: #563d7c;
	border-color: #563d7c;
}

/* Push everything below the nav */
#content {
	margin-top: 14px
}
/* Inverted outline button (white on dark) */
.btn-outline-inverse {
	color: #fff;
	background-color: transparent;
	border-color: #cdbfe3;
}

.btn-outline-inverse:hover,.btn-outline-inverse:focus,.btn-outline-inverse:active
	{
	color: #563d7c;
	text-shadow: none;
	background-color: #fff;
	border-color: #fff;
}

/*
 * Page headers
 *
 * Jumbotron-esque headers at the top of every page that's not the homepage.
 */

/* Page headers */
.bs-header {
	color: #cdbfe3;
	padding: 30px 15px 40px;
	/* side padding builds on .container 15px, so 30px */
	font-size: 16px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	border-color: #463265;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
	background: url(../img/hexagons-pattern-563d7c.png) repeat;
}

.bs-header h1 {
	color: #fff;
}

.bs-header p {
	font-weight: 300;
	line-height: 1.5;
}

.bs-header .container {
	position: relative;
}

/* TARA CSS*/
/*INDEX PAGE*/
.cats {
	background-image:
		url('http://localhost/smartgithg/HEXAGONwebsite/Includes/Media/business-cat.jpg');
	background-color: #40236b;
}

/* CONTACT PAGE */
textarea.form-control {
	resize: none;
}

/*PROJECT PAGE*/
.indiImage {
	background-image: url('https://mercury.ict.swin.edu.au/ccpmg501a/ccpmg501a_18/website/Media/test1.png');
	background-color: black;
	height: 150px;
}
.edsl{
	background-image: url('https://mercury.ict.swin.edu.au/ccpmg501a/ccpmg501a_18/website/Media/poker.png');
	background-color: black;
}

.battle{
	background-image: url('https://mercury.ict.swin.edu.au/ccpmg501a/ccpmg501a_18/website/Media/poker.png');
	background-color: black;
}

.poker {
	background-image: url('https://mercury.ict.swin.edu.au/ccpmg501a/ccpmg501a_18/website/Media/poker.png');
	background-color: black;
}

.snakes {
	background-image: url('https://mercury.ict.swin.edu.au/ccpmg501a/ccpmg501a_18/website/Media/s&l.png');
	background-color: black;
}

.dosmon {
	background-image: url('https://mercury.ict.swin.edu.au/ccpmg501a/ccpmg501a_18/website/Media/dosmon.png');
	background-color: black;
}

.individual-proj {
	height: 250px;
}

.group-proj {
	height: 400px;
}

.project-title {
	position: absolute;
	opacity: 0;
	height: 100%;
	width: 100%;
	color: orange;
	background-color: black;
	text-align: center;
	transition: opacity .75s linear;
	-webkit-transition: opacity .75s linear;
	-moz-transition: opacity .75s linear;
}

.proj-transition {
	opacity: 1;
	width: 100%;
	position: relative;
	transition: opacity .75s;
	transition-timing-function: linear;
	-moz-transition: opacity .75s;
	-moz-transition-timing-function: linear;
	-webkit-transition: opacity .75s;
	-webkit-transition-timing-function: linear;
}

.project-title:hover {
	opacity: 1 !important;
}

.proj-transition:hover {
	opacity: .5;
}

h3.project-title {
	padding-top: 100px;
}

h2.project-title {
	padding-top: 200px;
}
/* END TARA */
@media screen and (min-width: 768px) {
	.bs-header {
		font-size: 21px;
		text-align: left;
	}
	.bs-header h1 {
		font-size: 60px;
		line-height: 1;
	}
}

}
@media screen and (min-width: 992px) {
	.bs-header h1,.bs-header p {
		margin-right: 380px;
	}
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* First level of nav */
.sidebar-offcanvas {
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;
	border-radius: 5px;
}

/* All levels of nav */
.sidebar-offcanvas .nav>li>a {
	display: block;
	color: #716b7a;
	padding: 5px 20px;
}

.sidebar-offcanvas .nav>li>a:hover,.sidebar-offcanvas .nav>li>a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
	border-right: 1px solid #dbd8e0;
}

.sidebar-offcanvas .nav>.active>a,.sidebar-offcanvas .nav>.active:hover>a,.sidebar-offcanvas .nav>.active:focus>a
	{
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.sidebar-offcanvas .nav .nav {
	display: none; /* Hide by default, but at >768px, show it */
	margin-bottom: 8px;
}

.sidebar-offcanvas .nav .nav>li>a {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}

@media screen and (max-width: 991px) {
	.sidebar-offcanvas .nav>.active>ul {
		display: block;
	}
	/* Widen the fixed sidebar */
	.sidebar-offcanvas.affix,.sidebar-offcanvas.affix-bottom {
		width: 157.5px;
	}
	.sidebar-offcanvas.affix {
		position: fixed; /* Undo the static from mobile first approach */
		top: 50px;
	}
	.sidebar-offcanvas.affix-bottom {
		position: absolute; /* Undo the static from mobile first approach */
	}
	.sidebar-offcanvas.affix-bottom .bs-sidenav,.sidebar-offcanvas.affix .bs-sidenav
		{
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
	/* Widen the fixed sidebar */
	.sidebar-offcanvas.affix,.sidebar-offcanvas.affix-bottom {
		width: 213px;
	}
	.sidebar-offcanvas.affix {
		position: fixed; /* Undo the static from mobile first approach */
		top: 50px;
	}
}

@media screen and (min-width: 1200px) {
	/* Widen the fixed sidebar again */
	.sidebar-offcanvas.affix-bottom,.sidebar-offcanvas.affix {
		width: 263px;
	}
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
	.row-offcanvas,.sidebar-offcanvas,.btn-sidebar {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.btn-sidebar {
		font-size: 120%;
		background: none;
		color: #fff;
		border: none;
		padding: 4px 10px 0 10px;
		margin-right: 15px;
	}
	.btn-sidebar:hover {
		background-color: #463265;
	}
	.row-offcanvas-right
  .sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	.active .sidebar-offcanvas {
		position: fixed;
		top: 40px;
		left: 0;
		width: 49%; /* 6 columns */
	}
	.sidebar-offcanvas {
		position: fixed;
		top: 40px;
	}
}

/*
 * Panels
 *
 * Styling on the panels to suit being used as news article wrappers
 */
.news-article .panel-heading h1,h2,h3,h4,h5,h6 {
	padding-top: 0;
	margin-top: 0;
}

/**
 * Alex's CSS
 */

/**
 * Tables
 */
 
table,th,td,tr,thead {
	word-wrap: break-word !important;
}

.table {
	width: 100%;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	padding: 10px;
	text-align: left;
}

.table-colSmall {
	width: 12em;
}

.table-colMedium {
	width: 24em;
}

.table-colLarge {
	width: 50em;
}

.table-rowBorder {
	border: 2px solid gray;
}

.textAlignCenter {
	text-align: center;
}

.table-container {
	overflow: auto;
}

.table-container td {
	word-wrap: break-word;
	max-width: 350px;
	min-width: 50px;
}

.table-zebra tbody tr:nth-child(odd) {
	background-color: #ddd;
}

.table .label {
	width: 100%;
}

/* OTHER STUFF */
.boxsizingBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.width100 {
	width: 100%;
}

.width-auto {
	width: auto !important;
}

.print-multiple-header:nth-of-type(0) {
	display: none;
}


.margin-left-m {
	margin-left: 2em;
}

.side-border {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

/* BUTTON SELECTED STATE - used for paginators */
.paginator-selected {
	background-color: #eee !important;
	background:#eee;
}

/* MOBILE SCREENS */
@media screen and (max-width: 767px) {
	.mobile-center {
		text-align: center;
	}
	.table-responsive-dropLast2Col tr th:nth-last-child(4),.table-responsive-dropLast2Col tr td:nth-last-child(4),.table-responsive-dropLast2Col tr th:nth-last-child(2),.table-responsive-dropLast2Col tr td:nth-last-child(2),.table-responsive-dropLast2Col tr th:last-child,.table-responsive-dropLast2Col tr td:last-child
		{
		display: none;
	}
	.mobile-100width {
		width: 100%;
		bottom: 0px;
	}
	.mobile-100width>* {
		width: 100%;
	}
	.table-responsive *{
		word-wrap: break-word !important;
		white-space: normal !important;
	}
}

/* REMOVE A HREF FROM LINKS WHEN PRINTING */
@media print {
	a[href]:after {
		content: none !important;
	}
}