body {
	padding: 0px;
	margin: 0px;
}

.table-print,.table-reponsive {
}

.table-print-header {
	display: block;
}

.print-page {
	page-break-after: always;
}

.print-page-block {
	display: block;
}

.table {
	width: 100%;
	margin: 5px;
	padding:0px;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	padding: 4px;
	text-align: left;
}

.table-zebra tbody tr:nth-child(odd) {
	background-color: #ddd;
}
.boxsizingBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.width100 {
	width: 100%;
}

.print-multiple-header:nth-of-type(0) {
	display: none;
}

table {
	word-wrap: break-word;
}

@page {
	size: landscape;
}