@CHARSET "ISO-8859-1";

#content{
	padding:20px;
}

#content .post{
	position:relative;
	width:75%;
	height:15em;
	margin:auto;
	margin-top:10px;
	border:1px solid #6699B6;
	border-radius:5px;
	background-color:white;
}

#content .post:hover{
	cursor:pointer;
	box-shadow: 0px 0px 10px #F1F589;
}

#content .post header{
	font-size:20px;
	font-weight:bold;
	color:white;
	clear:both;
	height:1.5em;
	padding:0.25em;
	width:100%;
	position:absolute;
	top:0px;
	background-color: #649EB4;
	box-sizing:border-box;
}

.post article{
	position:relative;
	margin-top:2em;
	font-size:15px;
	overflow:hidden;
	height:11em;
	padding:10px;
	
	text-align:left;
	text-size:40px;
}

#content .post footer{
	position:absolute;
	bottom:0px;
	font-size:10px;
	height:2em;
	width:100%;
	text-align:right;
	right:5px;
}
