header, footer{
	background-color:#B0B0B0;
	width:100%;
	z-index:1;
	text-align:right;
	overflow:hidden:
}

body{
	background:#FAFCFC;
	margin: auto;
	padding:auto;
	/*helps keeps the webpage centered*/
	overflow-y: scroll;
	overflow-x: hidden;
}

#content{
	width:80%;
	margin:5em auto;
}

/* ==========================================================================
   Positioning
   ========================================================================== */

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.topabsolute{
	position:absolute;
	top: 0;
}

.fix{
	position:fixed;	
}

.bottomabsolute{
	position:absolute;
	bottom: 0;
}

.fix{
	position:fixed;	
}

.paddingmedium{
	padding: 15px;
}

/* ==========================================================================
   Header definitions
   ========================================================================== */

h1{
	font-size:20px;
	font-weight:bold;
	margin-right:20px;	
}

header h1{
    	color:white;
}

h3{
	font-size: 30px;
	text-align: center;
	color: #6699B6;
	font-weight: bold;
}

/* ==========================================================================
   Header nav
   ========================================================================== */
header nav{
	padding:0px;
	margin:0px;
	float:left;
	position:absolute;
	bottom: 0;
}


header nav ul{
	padding:0px;
	margin:0px;
}

header nav li{
	padding:5px;
	margin:0px;
	text-decoration:none;
	display:inline-block;
}

header nav li a{
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	color:white;
	transition:color 0.1s linear;
}

header nav li a:hover{
	color:#E67418;
}

/* ==========================================================================
   Blog posts
   ========================================================================== */
   
.post{
	position:relative;
	display:block;
	width: 80%;
	margin:auto;
	margin-top:1em;
	border:1px solid #6699B6;
	border-radius:5px;
	background-color:white;
}

.post header h2, .post header p, .post header span{
	display:inline;
	margin: 0px 5% 0px 5%;
}

.post header h2{
	position:relative;
	text-align:left;
}

.post header, .post footer{
	width:100%;
	background-color: #649EB4;
	text-align:center;
}

/* ==========================================================================
   Form
   ========================================================================== */
form{
	width:45%;
	margin:auto;
	text-align:center;
}
/* ==========================================================================
   Form list
   ========================================================================== */

form li {
	list-style: none;
	padding: 5px;
	overflow: visible;
}

/* ==========================================================================
   Form inputs
   ========================================================================== */

input, button {
	padding: 0.4em;
	width: 90%;
	margin: 0 auto 0.5em auto;
	height: 1.5em;
	border-radius:5px;
	font-size: 20px;
	border: 3px solid #C4C4C4;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
button, input[type='submit'] {
	height: 2.5em;
	width: 95%;
	color: white;
	border: 0px;
}

.disabledButton{
	background-color:#F5CB7D;	
}

.disabledButton:hover{
	background-color:#F7BE54;
}

.enabledButton{
	background-color: #E67418;
}

.enabledButton:hover{
	background-color: #D46B16;
	cursor:pointer;
}

/* ==========================================================================
   Message Box
   ========================================================================== */

.messageBox {
	display: table;
	position: absolute;
	margin-top: 40px;
	min-width: 200px;
	z-index: 3;
	border: 1px solid black;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 10px;
	text-size: 20px;
	box-shadow: 10px 5px 10px #888;
	visibility: hidden;
}




#content #passwordStrengthBar {
	position: relative;
	width: 80%;
	height: 14px;
	margin: auto;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #999;
	overflow: hidden;
	z-index: 1;
}

#content #passwordStrengthBar span {
	position: relative;
	display: block;
	height: 100%;
	width: 0px;
	border-radius: 5px;
	z-index: 2;
	transition: width 0.5s linear, background-color 1s linear;
}

#content #passwordStrengthBar p {
	font-size: 30px;
}

/* ==========================================================================
  Blog posts
  ========================================================================== */
  
.post{
position:relative;
display:block;
width: 80%;
margin:auto;
margin-top:1em;
border:1px solid #6699B6;
border-radius:5px;
background-color:white;
}

.post header h2, .post header p, .post header span{
display:inline;
margin: 0px 5% 0px 5%;
}

.post header h2{
position:relative;
text-align:left;
}

.post header, .post footer{
width:100%;
background-color: #649EB4;
text-align:center;
}