@CHARSET "ISO-8859-1";

#content {
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: absolute;
	display: table;
	width: 100%;
}

#content #registerBox{
	position:relative;
	margin:auto;
	margin-top:3%;
	width:30%;
	min-width:200px;
	max-width:1000px;
	text-align:center;
}
#content #registerBox .title {
	font-size: 30px;
	text-align: center;
	color: #6699B6;
	font-weight: bold;
}

#content #registerBox ul {
	border-top: 2px solid #6699B6;
	padding: 10px;
	overflow: visible;
	margin: auto;
	padding: auto;
}

#content #registerBox ul:first-child {
	border-bottom: 2px solid #C4C4C4;
}

#content #registerBox li {
	list-style: none;
	padding: 5px;
	overflow: visible;
	display: block;
}

#content #registerBox input {
	height: 25px;
	width: 90%;
	border-radius:5px;
	font-size: 20px;
	padding: 10px;
	border: 3px solid #C4C4C4;
}

#content #registerBox button {
	height: 45px;
	width: 95%;
	min-width: auto;
	font-size: 20px;
	padding: 10px;
	color: white;
	border: 0px;
}

.disabledButton{
	background-color:#F5CB7D;	
}

.disabledButton:hover{
	background-color:#F7BE54;
}

.enabledButton{
	background-color: #E67418;
}

.enabledButton:hover{
	background-color: #D46B16;
	cursor:pointer;
}

#content .messageBox {
	display: table;
	position: absolute;
	margin-top: -45px;
	min-width: 200px;
	z-index: 3;
	border: 1px solid black;
	background-color: #FFFFFF;
	left: 95%;
	border-radius: 5px;
	padding: 10px;
	text-size: 20px;
	box-shadow: 10px 5px 10px #888;
	visibility: hidden;
}

#content #message_pass {
	height: 200px;
	width: 400px;
}

#content #message_pass ul:first-child {
	float:left;
	color:red;
}

#content #passwordStrengthBar {
	position: relative;
	width: 80%;
	height: 14px;
	margin: auto;
	padding: 3px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #999;
	overflow: hidden;
	z-index: 1;
}

#content #passwordStrengthBar span {
	position: relative;
	display: block;
	height: 100%;
	width: 0px;
	border-radius: 5px;
	z-index: 2;
	transition: width 0.5s linear, background-color 1s linear;
}

#content #passwordStrengthBar p {
	font-size: 30px;
}