<article>
	<?php
		if (isset($_SESSION['errorCheck']) != null)
		{
			echo $_SESSION['errorCheck'];
		}else 
		{
			echo "";
		}
	?>
	<div class="newSection">
		
		<form action="?register" method="post" id="register" class="jqRegister">
			<label for="firstnameInput">* First Name</label>
			<input type="text" name="firstnameInput" id="firstnameInput" placeholder="Enter Your First name" title="First name without symbols" required/>  
			
			<label for="lastnameInput">* Last Name</label>
			<input type="text" name="lastnameInput" id="lastnameInput" placeholder="Enter Your Last name" title="Last name without symbols" required/>
			
			<label for="usernameInput">* Username:</label>
			<input type="text" name="usernameInput" id="usernameInput" placeholder="Enter Your Username" title="Username (max 15 alphanumeric and basic symbols)" required />
			
			<label for="ageInput">Age:</label>
			<input type="text" name="ageInput" id="ageInput" placeholder="Enter Your Age" title="Age in digits only" />
			
			<label for="countryInput">Country:</label>
			<input type="text" name="countryInput" id="countryInput" placeholder="Enter Your Country" title="Country of origin, without symbols"/>
			
			<label for="emailInput">* Email:</label>
			<input type="email" name="emailInput" id="emailInput" placeholder="Enter Your Email" required/>
			
			<label for="passwordInput">* Password:</label>
			<input type="password" name="passwordInput" id="passwordInput" placeholder="Enter Your Password" required/>
			
			<label for="passwordConfirmInput">* Confirm Password:</label>
			<input type="password" name="passwordConfirmInput" id="passwordInput" placeholder="Confirm Your Password" required/>
			<p class="floatLeft">* Indicates required fields</p>
			<input class="orange formBtn" type="submit" name="submit" value="Register"/>
		</form>
	</div>
</article>




