<?php
	$var = $_SESSION['userdateJoined'];
	$joinDate = date('d M Y', strtotime($var));
?>
<article>
	<div class="contentDiv">
		<ul class="userDetails">
			<li><?php echo $_SESSION['userFirstName']; ?></li>
			<li><?php echo $_SESSION['userLastName']; ?></li>
		</ul>
		<ul class="userDetails">
			<li>ID <?php echo $_SESSION['userId']; ?></li>
			<li class="userInfoAlign"><?php echo $_SESSION['userName']; ?></li>
			<li><?php echo $joinDate; ?></li>
			<li class="userInfoAlign"><?php echo $_SESSION['userAge']; ?></li>
			<li><?php echo $_SESSION['userCountry']; ?></li>
		</ul>
		<p><?php echo $_SESSION['userBio']; ?></p>
	</div>
</article>